<div id="content-wrapper">
    <div class="container-fluid">
<!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
          </ol>
<!-- DataTables Example -->
          <div class="p-3" *ngIf="alert.status" [ngClass]="alert.class">
            {{alert.message}}
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Lista de usuarios
              <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Crear Usuario</button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Fecha de ingreso</th>
                      <th>Nombre</th>
                      <th>Documento</th>
                      <th>tipo de documento</th>
                      <th>-</th>                
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of users">
                      <td>{{u.create | date}}</td>
                      <td>{{u.nombres+' '+u.apellidos}}</td>
                      <td>{{u.documento}}</td>
                      <td>{{u.tipoDoc}}</td>
                      <td><a type="button" class="btn btn-success" href="rrhh-admin/user/{{u._id}}">Detalles</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated {{date | date: 'medium'}}</div>
          </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #f="ngForm" name="form" novalidate >
      <div class="modal-body">
            <div class="form-group">
              <div class="form-label-group">
                  <input type="text" name="nombres" class="form-control" [(ngModel)]="user.nombres" [ngClass]="{'is-invalid':f.submitted && nombres.invalid}" #nombres="ngModel" required>
                  <label for="firstName">Nombres</label>
              </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                  <input type="text" name="apellidos" class="form-control"  [(ngModel)]="user.apellidos" [ngClass]="{'is-invalid':f.submitted && apellidos.invalid}" #apellidos="ngModel" required >
                  <label for="Apellidos">Apellidos</label>
                </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <select class="form-control" [(ngModel)]="user.tipoDoc" name="tipodoc"  #tipodoc="ngModel" [ngClass]="{'is-invalid': f.submitted && tipodoc.invalid}" required>
                      <option value="" disabled="">Tipo de documento</option>
                      <option value="C.C">Cédula de Ciudadanía</option>
                      <option value="C.E">Cédula de Extranjería</option>
                      <option value="NIT ">NIT</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" name="documento" class="form-control" [(ngModel)]="user.documento" [ngClass]="{'is-invalid': f.submitted && documento.invalid}" #documento="ngModel" required>
                    <label for="inputEmail">Documento</label>
                  </div>
                </div>
              </div>
            </div>
        
      </div>
      <div class="modal-footer">
        <div class="p-3" *ngIf="alert.status" [ngClass]="alert.class">
          {{alert.message}}
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="addUser(f.form.valid)">Register</button>
      </div>
      </form>
    </div>
  </div>
</div>