 <div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Prueba Ténica de ingreso Analista funcional</div>
    <div class="card-body">
        <div class="form-group">
          <div class="form-label-group">
            <input type="text" id="inputEmail" readonly class="form-control" value="{{user.nombres+' '+user.apellidos}}">
            <label for="inputEmail">Nombres</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="firstName" readonly class="form-control" value="{{user.tipoDoc}}" >
                <label for="firstName">Tipo de doucmento</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="lastName" readonly class="form-control" value="{{user.documento}}">
                <label for="lastName">Documento</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="inputEmail" readonly class="form-control" value="{{user.create | date:'medium'}}">
                <label for="inputEmail">Fecha creación</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="inputEmail" readonly class="form-control" value="{{user.upd | date:'medium'}}">
                <label for="inputEmail">Fecha finalización examen</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="inputEmail" readonly class="form-control" value="{{suma22}}">
                <label for="inputEmail">Total Preguntas del 1-22</label>                
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="inputEmail" readonly class="form-control" value="{{suma30}}">
                <label for="inputEmail">Total Preguntas del 23-30</label>            
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="pb-3 mb-0 float-left">
      <h4 class=" text-center">Preguntas</h4>
    </div>
    <div class="pb-3 mb-0 float-right">
      <button type="button" class="btn btn-light" (click)="download()"><i class="fas fa-download"></i> Descargar</button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
        <thead>
          <tr>
            <th width="10%">No.</th>
            <th width="50%">Respuesta</th>
            <!-- <th>Val</th> -->
            <th width="20%">Calificación</th>
            <th width="20%">Calificar</th>               
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of user.preguntas; index as i">
            <td >{{u.numero}}</td>
            <td ><div [innerHTML]="u.respuesta"></div></td>
            <!-- <td>{{u.correta}}</td> -->
            <td >
              <div *ngIf="u.nota !='';else elseBlock">
                 <span [ngStyle]="{color:(u.nota == 0)? 'red' : 'black'}">{{u.nota}}</span> 
              </div>
              <ng-template #elseBlock>
                No calificado
              </ng-template>
            </td>
            <td>
              <div *ngIf="!u.estado ">
                 <button class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Calificar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                  <a class="dropdown-item" (click)="addNota(j+1,i)" *ngFor="let p of noCalificacion(i);index as j">
                    {{j+1}}
                  </a>
                </div>              
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>